.project-edit-card-wrapper {
    .card-edit {
        height: 123px;
        font-size: 16px;
        text-align: center;
        border: 1px solid #e8e8e8;
        padding: 25px 0px;

        input {
            border-bottom: 1px solid #c5c5c5;
            background-color: whitesmoke;
            border-radius: 5px;
            padding-left: 21px;
            height: 40px;
            margin: 0px auto;
            width: 221px;
        }
    }

    margin: 0px 0px 40px 0px;
}