.section-user-detail {
    background-image: url("../../images/company-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 31%;
    margin-top: -50px;
    
}

.bannerUserDetails {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 150px 0px 63px 0px;

    h3 {
        color: white;
        font-size: 30px;
        font-weight: bold;
    }

    h4 {
        font-size: 21px;
        margin: 9px 0px;
    }

    .userphoto-wrapper {
        width: 150px;
        height: 150px;
        margin: 0px auto 35px auto;
        overflow: hidden;
        border-radius: 50%;
        
        img {
            width: 100%;
            height: auto;
        }
    }
    
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .img-logo-wrapper {
        width: 70px;
        height: 70px;
        padding: 7px;
        border-width: 2px;

        img {
            width: 100%;
            height: auto;
        }
    }
    
    span {
        padding: 10px 15px;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
}

.editBtnAbs {
    position: fixed;
    top: 60px;
    right: 25px;
    z-index: 2;

    .fa{
        font-size: 25px;
        background-color: #1859b5;
        color: white;
        padding: 12px 15px;
        border-radius: 50px;

        &:hover {
            background-color: white;
            color: #337ab7;
        }
    }
}

.section-share-user-detail {
    color: black;

    .container {
        box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        background-color: white;
        padding: 37px 70px;
    }

    h3 {
        font-size: 30px;
        font-weight: bold;
    }
}
.ultags {
    li {
        background-color: #337ab7;
        color: white;
        width: fit-content;
        padding: 4px;
        margin: 3px;
        border-radius: 5px;
        display: inline-block;
    }
}

.published-projects {
    .progress {
        height: 50px;
    }

    .card {
        margin: 0px;
    }
}

fieldset {
    border: 2px solid #ececec;
    padding: 25px 50px;
    margin-bottom: 30px;

    legend {
        width: 500px;
        margin: 0px auto;
        text-align: center;
        padding: 13px 0px;
        background-color: #e2e2e2;

        h5 {
            font-size: 25px;
            font-weight: bold;
        }

        span {
            color: $orange;
            font-weight: 800;
        }

        p {
            margin: 0px;
        }
    }

}