.error {
	color: red;
}
.short{
    color:#FF0000;
	background-color: #FF0000;
	width: 90%;
    height: 6px;
    margin-left: 5%;
}
.weak{
    color:orange;
	background-color: orange;
	width: 90%;
    height: 6px;
    margin-left: 5%;
	
}
.good{
    color:#2D98F3;
	background-color: #2D98F3;
	width: 90%;
    height: 6px;
    margin-left: 5%;
}
.strong{
    color: limegreen;
	background-color: limegreen;
	width: 90%;
    height: 6px;
    margin-left: 5%;
	
}

