@{
    ViewData["Title"] = "Activate Email";
}
<h2  class="pageTitle">Email Activation Redirection</h2>

<div class="wrapper-center">
    <p>Thank you for activating your email. Click Below to verify your email.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Verify My Email</a>
    <p>You will be redirected to cFunding.</p>
</div>
